@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.ant-menu-title-content {
    color: white;
}

.ant-menu-item-selected .ant-menu-title-content {
    color: black;
    background-color: transparent !important;
}

.ant-layout-sider-zero-width-trigger {
    background-color: #8850B3 !important;
}

.primary-main-btn {
    @apply bg-[#8850B3] text-sm text-white py-2 px-4 rounded-xl font-semibold border border-[#8850B3] cursor-pointer
}