@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-main: #2A2F4F;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

/* Apply scrollbar styles globally */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--light-blue-4) transparent;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    width: 10px;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--light-gray);
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}



/* Hide scrollbar in WebKit browsers (Chrome, Safari) */
.sider::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar in Firefox */
.sider {
    scrollbar-width: none;
    /* For Firefox */
}

.ant-menu-title-content {
    color: white;
}

.ant-menu-item-selected .ant-menu-title-content {
    color: black;
    background-color: transparent !important;
}

.ant-layout-sider-zero-width-trigger {
    background-color: var(--primary-main) !important;
}

.primary-main-btn {
    @apply bg-primary-main text-sm text-white py-2 px-4 rounded-md font-semibold border-0 cursor-pointer
}

/* antd custom pagination design  */
.antd_custom_pagination {
    display: flex;
    justify-content: center;
}

.antd_custom_pagination li.ant-pagination-item:not(.ant-pagination-item-active) {
    background: #d2def3 !important;
}

.antd_custom_pagination li.ant-pagination-item:not(.ant-pagination-item-active) a {
    color: #000 !important;
}

.antd_custom_pagination .ant-pagination-item-active a {
    color: #fff !important;
}

.antd_custom_pagination button.ant-pagination-item-link {
    background: #DFDFDF !important;
}

/* ************eb table skeleton design**************  */
.eb_skeleton_table {
    width: 100%;
    overflow-x: auto;
}

.eb_skeleton_row {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
    justify-content: space-between;
    padding: 20px 0;
    transition: background-color 0.3s;
}

.eb_skeleton_row.eb_odd {
    background-color: #F5F5F5;
}

.eb_skeleton_row:hover {
    background-color: #F5F5F5;
    padding: 18px 0;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
}